
@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        .Due {
            text-align: center
        }

        .jumbotron {
            text-align: center
        }

        .abc {
            text-align: center
        }

        .suggest {
            text-align: center
        }
    </style>
</head>

<div class="jumbotron">
    <h1>Fire my calories</h1>
    <img src="/Image/due.jpg" alt="Due" width="1000" height="600">

</div>

<div class="Due">
    <h1>Calculate your carlories</h1>
    <iframe src="https://www.calculator.net/calorie-calculator.html?ctype=metric&cage=23&csex=m&cheightfeet=5&cheightinch=10&cpound=160&cheightmeter=183&ckg=86&cactivity=1.2&printit=0&x=104&y=29" height="600" width="650"></iframe>
    <p><a href="https://www.calculator.net/calorie-calculator.html?ctype=metric&cage=23&csex=m&cheightfeet=5&cheightinch=10&cpound=160&cheightmeter=183&ckg=86&cactivity=1.2&printit=0&x=104&y=29" target="iframe_a">Calorie Calculator</a></p>
</div>

<div class="row">
    <div class="col-4">
        <textarea></textarea>
    </div>
</div>


<div class="jumbotron">
    <h2>Your suggested menu</h2>
    <img src="/Image/Bagel.jpg" alt="buger" width="500" height="500">
    <p>Total Calories: 1,028</p>
</div>


<div class="jumbotron">
    <div class="abc">
        <h2>Comments on this menu</h2>
        <p>

            <textarea rows="4" cols="50"> Write something</textarea>
            <br>
            <input type="checkbox" name="likemenu" value="like"> like the menu?<br>
            <button type="button">Submit &raquo;</button>


        </p>

    </div>
    <!--
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        -->

</div>

